export(awrar.run)
export(awrarcalib.initialise)
export(awrarcalib.parutils)
export(awrarcalib.run)
export(awrarirrig.run)
export(checknames)
export(data2irrigation.run)
export(flood)
export(get.accounts)
export(get.actual.x)
export(get.constant)
export(get.default.config)
export(gr4j.run)
export(irrigation.run)
export(performance.stats)
export(subperiods)
export(write.csv.header)
useDynLib(awrar)
